body {
  background-color: #ffde71;
  min-height: 95vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  min-width: 20%;
  position: relative;
}

#res {
  background-color: #fbfbfb;
  border: solid;
  min-height: 75pt;
  font-size: 20px;
  color: #1f1f1f;
  text-align: center;
  font-size: 30pt;
}

.binaryNumbers, .btns {
  background-color: #fbfbfb;
  float: left;
  color: #1f1f1f;
}

.binaryNumbers {
  min-width: 28%;
  min-height: 150pt;
  font-size: 18px;
}

.btns {
  min-width: 22%;
  min-height: 50pt;
  font-size: 18px;
}