body {
  background-color: #ffde71;
  min-height: 95vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#res {
  background-color: #fbfbfb;
  border: solid;
  min-width: 40vh;
  min-height: 10vh;
  font-size: 20px;
  color: #1f1f1f;
  text-align: center;
  font-size: 30pt;
}

#btns button {
  background-color: #fbfbfb;
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin:0;
  float: left;
  color: #1f1f1f;
}